body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.work_area {
    height: 88vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.color_card {
    background-color: #ffffff1f;
    border: 3px solid #ffffff0f;
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.color_card .header {
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    align-items: center;
}

.color_card .header img {
    height: 24px;
    margin-right: auto;
}

.color_card .header h6 {
    margin: 0 16px 0 auto;
    font-size: 1.2rem;
    color: #fff;
    cursor: default;
}

.all_colors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brand_color_grid {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.brand_color_grid p {
    margin-bottom: 0.25rem;
    font-size: 14px;
    font-weight: 500;
    color: #939393;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.grid_item {
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 8px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_item button {
    margin-bottom: 6px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 0;
    background-color: #0000 !important;
    border: 0;
}

.grid_item:hover button {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.grid_item button::before {
    font-size: 1rem;
    font-weight: 700 !important;
    background-color: #00000066;
    padding: 6px;
    border-radius: 4px;
    color: #fff;
}

.grid_item>div {
    font-size: 12px;
    background-color: #00000045;
    color: #fff;
    padding: 1px 4px;
    border-radius: 4px;
    cursor: default;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .grid_container {
        grid-template-columns: repeat(6, 1fr);
        /* 6 columns on smaller screens */
    }
}

@media (max-width: 768px) {
    .grid_container {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns on even smaller screens */
    }
}

@media (max-width: 500px) {
    .grid_container {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns on even smaller screens */
    }
}

@media (max-width: 360px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on even smaller screens */
    }
}

.all_brands{
    flex-wrap: nowrap !important;
    width: 100% !important;
    overflow-x: scroll !important;
    margin-left: 0 !important;
    /* position: fixed;
    top: 10px;
    left: 180px;
    margin-bottom: 0;
    background-color: #000000c7;
    padding: 12px 0;
    border-radius: 8px; */

}

.all_brands::-webkit-scrollbar {
    height: 0px;
}

.all_brands a{
    text-decoration: none;
    color: #fff !important;
}

.downloadBtn{
    color: #fff;
    border: 1px solid #ffffff;
    padding: 2px 8px;
}

.downloadBtn:hover{
    color: #fff;
    background-color: #673AB7;
}

.footer{
    background-color: #000000d4;
    padding: 4px;
    text-align: center;
    position: fixed;
    bottom: 6px;
    left: 0;
    width: 100%;
}

.footer p{
    margin-bottom: 0;
    color: #ffffff85;
    font-size: 12px;
}

.footer p a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.nav_logo{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_contact_form h1{
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
}

.left_contact_form label{
    margin-bottom: 6px;
    font-size: 14px;
    color: #939393;
}

.left_contact_form input,
.left_contact_form textarea{
    width: 100%;
    padding: 8px;
    background-color: #e7e7e769;
    border: 1px solid #ffffff44;
    border-radius: 4px;
    margin-bottom: 12px;
}

.brand_color{
    position: relative;
    margin-bottom: 1rem;
}

.brand_color .brand_name{
    position: absolute;
    top: 86px;
    background-color: #0000 !important;
}